<div class="row">
  <div class="col-md-4">
    <br />
    <h4>On Display</h4>
    <br />
    <br />
    <a class="nav-link" [routerLink]="['/on-display']">See All. . .</a>
  </div>
  <div class="col-md-4">
    <br />
    <h4>Boxed</h4>
    <br />
    <br />
    <a class="nav-link" [routerLink]="['/boxed']">See All. . .</a>
  </div>
  <div class="col-md-4">
    <br />
    <h4>Parted Out</h4>
    <br />
    <br />
    <a class="nav-link" [routerLink]="['/parted-out']">See All. . .</a>
  </div>
</div>
